$('#task-<%= @task.id %>').remove();
$('.active-tasks').append('<div class="task" id="task-<%= @task.id %>"><form id="task-form-<%= @task.id %>" action="/projects/<%= @task.project_id %>/tasks/<%= @task.id %>/complete" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="status" id="status" value="completed" /><input type="checkbox" name="completed" id="task-checkbox-<%= @task.id %>" value="1" onclick="checkBoxClicked(this)" checked="checked" /><span class="task-text"><%= @task.content %></span></form></div>');
$('#active-task-count').html(parseInt($('#active-task-count').html()) + 1);
$('#completed-task-count').html(parseInt($('#completed-task-count').html()) - 1);